__pycache__
shortcuts
test_db.db
print_tree.py
sql_app.db
sql_app
Production_Assets
AWS
prospector_api_app
prospector_api_app.zip
ProSpecor kjøpsavtale (ssa-l).docx
ProSpecor kjøpsavtale (ssa-l)
PrisKalkyle
PrisKalkyle.xlsx
OLD_backend
env
virtual_env
setEnv
Release
__CLEAN_UP
__ This folder represents backend
__ This folder represents ProSpector (root)
SQL\test_data.py
test_data.py
slots_test
backend/dev_backend/SQL/slots_test.py
SQL_backup_before_structure_reorganization
.env
test.py
ALL API URL'S .py
python_upload_package.zip
backend