__pycache__
shortcuts
test_db.db
print_tree.py
sql_app.db
sql_app
Production_Assets
AWS
prospector_api_app
prospector_api_app.zip
ProSpecor kjøpsavtale (ssa-l).docx
ProSpecor kjøpsavtale (ssa-l)
PrisKalkyle
PrisKalkyle.xlsx
OLD_backend
env
virtual_env
setEnv
Release
__CLEAN_UP
__ This folder represents backend
__ This folder represents ProSpector (root)
SQL\test_data.py
test_data.py
