__pycache__
config.py
BACKUP
BACKUP.py
print_table.py
CLEAN_UP
non_complete_code
prod_&_test_tools
temporarily_put_aside
config.py
enheter_alle.json.gz
extraction_part_1
extraction_part_1.bat
extraction_part_2
extraction_part_2.bat